@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--bg-color: #f6f8f9;
	--common-pink-color: #fa6980;
	--common-black-color: #343638;
	--common-white-color: #fff;
	--common-grey-color: #abadb4;
}


* { 
  margin: 0;
  padding: 0;
}

/* Import Helvetica from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Helvetica:wght@400&display=swap');

/* Apply Helvetica to your elements */
body {
  font-family: 'Helvetica', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica', sans-serif;
}


.world-news {
	max-width: 1440px;
	position: relative;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: var(--common-white-color);
}

.container {
	width: 90%;
	margin: 0 auto;
}

.headline-content {
	position: absolute;
	top: 170px;
	left: 50px;
	max-width: 70%;
	width: 100%;
	color: white;
}
.headline-content p, h3, hr {
	margin: 30px 0;
	line-height: 26px;
}



.headline-content button,
.form-wrapper button {
	background-color: var(--common-pink-color);
	color:var(--common-white-color);
	text-transform: uppercase;
	font-weight: bold;
	font-size: 11px;
	padding: 0.7rem 1.5rem;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.headline-content button:hover,
.form-wrapper button:hover {
	background-color: var(--common-white-color);
	color:var(--common-pink-color);
}

h1, h2, h3 {
	text-transform: uppercase;
}

.more-news-wrapper {
	margin: 40px;
	padding: 20px;
}

.spans-wrapper h2 {
	font-size: 18px;
	width: 50%;
}

.spans-wrapper span {
	font-weight: bold;
}

.left-span {
	margin-right: 30px;
	opacity: 0.5;
	cursor: pointer;
}

.left-span:hover {
	opacity: 1;
}

.right-span {
	opacity: 1;
	cursor: pointer;
}

.more-news-wrapper h3 {
	color:var(--common-pink-color);
}

.more-news-wrapper h4 {
	font-weight: bold;
}

.more-news-wrapper p {
	color: var(--common-grey-color);
	margin: 10px 0;
}

small {
	color: var(--common-grey-color);
	font-style: italic;
}

.fa-clock {
	color: var(--common-grey-color);
	margin-right: 20px;
}


body {
  color: rgb(var(--foreground-rgb));
  font-family: 'Helvetica', sans-serif;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


.footer {
	margin-top: 100px;
	background-color: var(--common-grey-color);
	color: #CBD0D3;
}

.footer-links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 50px 0;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.nav-links-logo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.form-icons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.footer-links ul {
	margin-left: 60px;
}

.footer-logo {
	font-weight: bold;
	color: var(--common-white-color);
}

.footer-links ul li a {
	color: #CBD0D3;
	text-transform: capitalize;
	margin-bottom: 10px;
	font-size: 13px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.footer-links ul li a:hover {
	color: var(--common-white-color);
}

.footer-links form {
	margin-left: 200px;
}

#input-container {
	position:relative;
	padding: 0 20px;
	background: var(--common-grey-color);
	width: 200px;
	border: 1px solid #CBD0D3;
	border-radius: 5px;
	margin-bottom: 10px;
}
#input {
	height: 40px;
	margin: 0;
	padding: 20px;
	width: 100%;
	border: none;
	background-color: transparent;
}

#input::-webkit-input-placeholder {
	text-align: start;
	color: #CBD0D3;
	font-size: 13px;
}

#input::-moz-placeholder {
	text-align: start;
	color: #CBD0D3;
	font-size: 13px;
}

#input:-ms-input-placeholder {
	text-align: start;
	color: #CBD0D3;
	font-size: 13px;
}

#input::-ms-input-placeholder {
	text-align: start;
	color: #CBD0D3;
	font-size: 13px;
}

#input::placeholder {
	text-align: start;
	color: #CBD0D3;
	font-size: 13px;
}

#input:focus,
.form-div input:focus, 
.form-div select:focus {
	outline: none;
}

#input-img {
	position:absolute;
	bottom:5px;
	right:5px;
	width:24px;
	height:24px;
	margin-right: 20px;
}

form p {
	font-size: 11px;
}

.icons-list a {
	color: var(--common-white-color);
	padding-left: 20px;
}

.fab,
.fas {
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.fab:hover,
.fas:hover {
	color: var(--common-pink-color)
}

/* Desktop 2 different styles  */




.section-avatar {
	max-width: 1440px;
	position: relative;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: var(--common-white-color);
}

.section-avatar .bg-image {
	width: 60%;
}

.content {
	position: absolute;
	top: 30%;
	left: 8%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
}

.content h1 {
	font-size: 32px;
	font-weight: bold;
	text-transform: uppercase;
	color: var(--common-white-color);
	margin-bottom: 20px;
}

.line {
	width: 40px;
	border-bottom: 2px solid var(--common-pink-color);
	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	align-self: center;
}

.content p {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 40px;
	padding-top: 20px;
	color: var(--common-white-color);
	max-width: 400px;
}

/* desktop 2 form styles */

.home {
	margin: 40px auto;
}

.home-wrapper {
	width: 300px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 11px;
}

.home-wrapper a {
	color: var(--common-black-color);
}

.home-wrapper .grey {
	color: var(--common-grey-color);
}

#filter {
	background-color: #ebebed;
	border: 1px solid var(--common-grey-color);
	padding: 8px;
	border-radius: 5px;
	width: 30px;
	cursor: pointer;
}

.form-div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
} 

.section-avatar {
	background-color: var(--common-white-color);
	border-radius: 5px;
}

.form-wrapper {
	width: 60%;
	padding: 110px;
}

.form-div input, 
.form-div select {
	max-width: 360px;
	width: 100%;
	height: 40px;
	margin-bottom: 40px;
	border: 0.4px solid var(--common-grey-color);
	border-radius: 5px;
}

.form-div label {
	color: var(--common-black-color);
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 10px;
}

select {
	color: var(--common-grey-color);
	font-size: 13px;
	padding-left: 20px;
}

.avatar-wrapper {
	-ms-flex-item-align: start;
	align-self: flex-start;
}

/* paragraphs-section styles */
.middle-hr {
	width: 90%;
	margin: 40px auto;
}

.paragraphs-section {
	margin: 40px auto;
}

.paragraphs-section p {
	max-width: 360px;
	color: var(--common-grey-color);
}

.paragraphs-section i, 
small {
	margin-top: 25px;
}

.paragraphs-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 70%;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-column-gap: 1rem;
	-moz-column-gap: 1rem;
	column-gap: 1rem;
}

.paragraphs-wrapper p,
.elephant-section p 
{
	line-height: 26px;
}

h2 {
	max-width: 360px;
	width: 100%;
	color: #202124;
	font-size:20px;
	font-weight: 700;
	line-height: 34px;
}

/* elephant-section" styles */

.elephant {
	width: 100%;
}

.elephant-section p {
	margin: 40px 0;
	width: 65%;
	color: var(--common-grey-color);
}

.elephant-section {
	margin-bottom: 40px;
}

.hidden-section {
	display: none;
}

#hidden-paragraph {
	display: none;
}

#mobile-menu {
	display: none;
}

.arrow {
	display: none;
}



.happening-now {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.happening-now .title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 40px;
	font-weight: bold;
}

.happening-now .title h2 {
	width: 70%;
}

.images-wrapper-div {
	width: 100%;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.big-card {
	margin-bottom: 40px;
	position: relative;
}

.big-card img {
	width: 100%;
}

.big-card-content h2 {
	color: var(--common-white-color);
	margin-bottom: 200px;
}

.big-card-content {
	position: absolute;
	top: 50px;
	left: 50px;
	color:var(--common-white-color);
}

.big-card-content p {
	margin: 20px 0;
}

.small-cards h4 {
	text-transform: capitalize;
	font-weight: bold;
	margin: 15px 0;
}

.small-cards a {
	color: var(--common-grey-color);
	text-decoration: underline;
}

.small-cards div {
	margin-bottom: 40px;
}
